In [2]:
import numpy as np
import matplotlib as mp
import pandas as pb
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data collection

In [14]:
iris_data = pb.read_csv('Iris.csv', header=None)

In [17]:
iris_data.value_counts()
iris_data.shape
iris_data.describe

<bound method NDFrame.describe of        0              1             2              3             4  \
0     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
1      1            5.1           3.5            1.4           0.2
2      2            4.9           3.0            1.4           0.2
3      3            4.7           3.2            1.3           0.2
4      4            4.6           3.1            1.5           0.2
..   ...            ...           ...            ...           ...
146  146            6.7           3.0            5.2           2.3
147  147            6.3           2.5            5.0           1.9
148  148            6.5           3.0            5.2           2.0
149  149            6.2           3.4            5.4           2.3
150  150            5.9           3.0            5.1           1.8

                  5
0           Species
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica
150  Iris-virginica

[151 rows x 6 columns]>

In [18]:
iris_data[5].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Species             1
Name: 5, dtype: int64

In [22]:
iris_data.groupby(5).mean()

C:\Users\maxim\AppData\Local\Temp\ipykernel_15944\547757385.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  iris_data.groupby(5).mean()

Empty DataFrame
Columns: []
Index: [Iris-setosa, Iris-versicolor, Iris-virginica, Species]

In [24]:
x = iris_data.drop(columns=5, axis=1)
y = iris_data[5]
print(x)
print(y)

       0              1             2              3             4
0     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
1      1            5.1           3.5            1.4           0.2
2      2            4.9           3.0            1.4           0.2
3      3            4.7           3.2            1.3           0.2
4      4            4.6           3.1            1.5           0.2
..   ...            ...           ...            ...           ...
146  146            6.7           3.0            5.2           2.3
147  147            6.3           2.5            5.0           1.9
148  148            6.5           3.0            5.2           2.0
149  149            6.2           3.4            5.4           2.3
150  150            5.9           3.0            5.1           1.8

[151 rows x 5 columns]
0             Species
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
150    Iris-virginica
Name: 5, Length: 151, dtype: object

Training and test data